---
layout: archive
title: "Work Experience"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% include base_path %}

## Full-Time Experience

{% assign full = site.teaching 
     | where: "experience_type", "full-time" 
     | sort: "date" 
     | reverse %}
{% for post in full %}
  {% include archive-single.html post=post %}
{% endfor %}

## Research Experience

{% assign research = site.teaching 
     | where: "experience_type", "research" 
     | sort: "date" 
     | reverse %}
{% for post in research %}
  {% include archive-single.html post=post %}
{% endfor %}

## Intern Experience

{% assign interns = site.teaching 
     | where: "experience_type", "intern" 
     | sort: "date" 
     | reverse %}
{% for post in interns %}
  {% include archive-single.html post=post %}
{% endfor %}
